
.container{
    width: 400px;
    margin: 10px auto;
    border: 1px solid black;
}



.topo{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
    box-sizing: border-box;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    
}

.chat{
    width: 100%;
    height: 550px;
    background-color: #E5E5E5;
    overflow: hidden;
    overflow-y: auto;
}

.cx-texto{
    width: 100%;
    height: 80px;
    
}
.cx-texto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
    box-sizing: border-box;

}

.text{
    height: 70px;
    width: 300px;
    border: 0.5px solid white;
    position: relative;
}

.digite-aqui{
    position: absolute;
}
.none{
    display: none;
}

.mensagens{
    padding: 10px 0px;
    
}

.mensagens li{
    font-family: 'Roboto', sans-serif;
    background-color: white;
    padding: 10px;
    margin: 3px 0px;
}
.bold{
    font-weight: 700;
}